<!-- Футер -->
  
<footer class="site-footer">
    <div class="container">
      <div class="footer-content">
        
        <div class="footer-about footer-content-item">
          <h4 class="title-four footer__title">About Us</h4>
          <p class="footer-about__text">Our music school was founded in 1999 to help students of all ages from all over the state to pursue their dream of becoming musicians. If you would like to learn how to play any musical instrument, our school is the place for you, regardless of your age and social status. We offer group and private lessons for children and adults.</p>
        </div>
        
        <div class="footer-blog footer-content-item">
          <h4 class="title-four footer__title">Recent Blog Posts</h4>
          <div class="footer-blog-wrap">
            <div class="footer-blog-item">
              <a href="#/" class="footer-blog-item__link site-link">Traditional or Online Music School: Which One to Pick and Why</a>
              <p class="footer-blog-item__autor">by Theresa Barnes | 2 days ago</p>
            </div>
            <div class="footer-blog-item">
              <a href="#/" class="footer-blog-item__link site-link">Are Grades Important for Getting into Music School?</a>
              <p class="footer-blog-item__autor">by Theresa Barnes | 2 days ago</p>
            </div>
          </div>
        </div>
         
        <div class="footer-gallery footer-content-item">
          <h4 class="title-four footer__title">Our Gallery</h4>
          <div id="lightgallery">
            <a href="https://livedemo00.template-help.com/wt_prod-19523/images/original/gallery-original-3.jpg">
              <img src="https://livedemo00.template-help.com/wt_prod-19523/images/footer-gallery-1-85x85.jpg" alt="" class="footer-gallery__item">
            </a>
            <a href="https://livedemo00.template-help.com/wt_prod-19523/images/original/gallery-original-1.jpg">
              <img src="https://livedemo00.template-help.com/wt_prod-19523/images/footer-gallery-2-85x85.jpg" alt="" class="footer-gallery__item">
            </a>
            <a href="https://livedemo00.template-help.com/wt_prod-19523/images/original/gallery-original-10.jpg">
              <img src="https://livedemo00.template-help.com/wt_prod-19523/images/footer-gallery-3-85x85.jpg" alt="" class="footer-gallery__item">
            </a>
            <a href="https://livedemo00.template-help.com/wt_prod-19523/images/original/gallery-original-4.jpg">
              <img src="https://livedemo00.template-help.com/wt_prod-19523/images/footer-gallery-4-85x85.jpg" alt="" class="footer-gallery__item">
            </a>
            <a href="https://livedemo00.template-help.com/wt_prod-19523/images/original/gallery-original-7.jpg">
              <img src="https://livedemo00.template-help.com/wt_prod-19523/images/footer-gallery-5-85x85.jpg" alt="" class="footer-gallery__item">
            </a>
            <a href="https://livedemo00.template-help.com/wt_prod-19523/images/original/gallery-original-11.jpg">
              <img src="https://livedemo00.template-help.com/wt_prod-19523/images/footer-gallery-6-85x85.jpg" alt="" class="footer-gallery__item">
            </a>
            <a href="https://livedemo00.template-help.com/wt_prod-19523/images/original/gallery-original-5.jpg">
              <img src="https://livedemo00.template-help.com/wt_prod-19523/images/footer-gallery-7-85x85.jpg" alt="" class="footer-gallery__item">
            </a>
            <a href="https://livedemo00.template-help.com/wt_prod-19523/images/original/gallery-original-6.jpg">
              <img src="https://livedemo00.template-help.com/wt_prod-19523/images/footer-gallery-8-85x85.jpg" alt="" class="footer-gallery__item">
            </a>
          </div>
        </div>
        
      </div>
      
      <div class="footer-menu">
        <nav class="footer-menu-nav">
          <a href="#/" class="footer-menu__link site-link">HOME</a>
          <a href="#/" class="footer-menu__link site-link">ABOUT</a>
          <a href="#/" class="footer-menu__link site-link">CLASSES</a>
          <a href="#/" class="footer-menu__link site-link">BLOG</a>
          <a href="#/" class="footer-menu__link site-link">TEACHERS</a>
          <a href="#/" class="footer-menu__link site-link">PAGES</a>
          <a href="#/" class="footer-menu__link site-link">CONTACTS</a>
        </nav>
        <nav class="footer-menu-soc">
          <a href="#/"><i class="fab fa-facebook-f site-link"></i></a>
          <a href="#/"><i class="fab fa-twitter site-link"></i></a>
          <a href="#/"><i class="fab fa-instagram site-link"></i></a>
          <a href="#/"><i class="fab fa-google-plus-g site-link"></i></a>
        </nav>
      </div>
      <div class="footer-line">
        <hr class="footer-line__hr">
      </div>
      
      <div class="footer-bottom">
        <div class="footer-logo">
          <a href="#/" class="footer-logo-link"><img src="https://livedemo00.template-help.com/wt_prod-19523/images/logo-inverse-102x34.png" alt="" class="footer-logo-link__logo"></a>
        </div>
        <p class="footer-bottom__copywrite">© 2019 All Rights Reserved.</p>
      </div>
    </div>
  </footer>