<header class="site-header">
	<div class="container">
		<div class="header-top">
			<a href="#my-menu" class="hamburger hamburger--spring">
				<span class="hamburger-box"><span class="hamburger-inner"></span></span>
			</a>
	
			<nav id="my-menu">
				<ul>
					<li>  <a href="#/" class="header-menu__link site-link">HOME</a></li>
					<li>	<a href="#/" class="header-menu__link site-link">ABOUT</a></li>
					<li>	<a href="#/" class="header-menu__link site-link">CLASSES</a></li>
					<li>	<a href="#/" class="header-menu__link site-link">BLOG</a></li>
					<li>	<a href="#/" class="header-menu__link site-link">TEACHERS</a></li>
					<li>	<a href="#/" class="header-menu__link site-link">PAGES</a></li>
					<li>	<a href="#/" class="header-menu__link site-link">CONTACTS</a></li>
				</ul>
			</nav>	
			<div class="header-logo">
				<img src="https://livedemo00.template-help.com/wt_prod-19523/images/logo-default-131x43.png" alt="" class="header-logo__logo">
			</div>
			<div class="header-contact-box">
				<a class="header-dots" href="javascript:void(0);" tabindex="1">
					<span class="header-dots__dot"></span>
					<span class="header-dots__dot"></span>
					<span class="header-dots__dot"></span>
				</a>
				<ul class="header-contact">
					<div class="header-number header-icon">
						<a href="tel:#" class="header-number__tel site-link">1-800-8763-76</a>
						<a href="tel:#" class="header-number__tel site-link">1-888-8763-76</a>
					</div>
					<div class="header-adress header-icon">
						<a href="#/" class="header-adress__adr site-link">2130 Fulton Street <br> San Diego, CA 94117-1080</a>
					</div>
					<div class="header-btn">
						<a href="#/" class="header-btn__button main-btn">Book a Lesson</a>
					</div>
				</ul>
			</div>
		</div>
	</div>
	<div class="header-menu">
		<div class="container header-menu-wrap">
			<nav class="header-menu-wrap">
				<a href="#/" class="header-menu__link site-link">HOME</a>
				<a href="#/" class="header-menu__link site-link">ABOUT</a>
				<a href="#/" class="header-menu__link site-link">CLASSES</a>
				<a href="#/" class="header-menu__link site-link">BLOG</a>
				<a href="#/" class="header-menu__link site-link">TEACHERS</a>
				<a href="#/" class="header-menu__link site-link">PAGES</a>
				<a href="#/" class="header-menu__link site-link">CONTACTS</a>
			</nav>
			<div class="header-search">
				<a href="#/" class="header-search__icon site-link"><i class="fas fa-search"></i></a>
			</div>
		</div>
	</div>
</header>
