<!-- главный слайдер -->
  
<section class="site-section main-screen">
    <div class="container main-screen-wrap">
      <div class="heading">
        <h1 class="title-one main-screen__title">Music <span>for</span><br>Everyone</h1>
        <a href="#/" class="main-btn">Start-learning</a>
      </div>
    </div>
  </section>
  
  
<!-- приветствие -->
  
  <section class="site-section welcom">
    <div class="container container-flex welcom-flex">
      <div class="welcom-img">
        <img src="https://livedemo00.template-help.com/wt_prod-19523/images/large-features-3-570x368.jpg" alt="" class="welcom-img__pic">
      </div>
      <div class="welcom-content">
        <h3 class="welcom-content__title title-third h-color">Welcome to Melody!</h3>
        <div class="welcom-content-text">
          <p class="welcom-content__par p-normal">Melody Music School offers comprehensive musicianship through active learning for children and adults. Our music educators are highly qualified and share a love of teaching.</p>
          <p class="welcom-content__par p-normal">Our curriculum offers group experiences, private lessons, ensemble participation, theater, and camps. We believe that learning music can be fun, and we believe in the effectiveness of learning in groups.</p>
        </div>
        <a href="#/" class="main-btn welcom-content__btn">Read more</a>
      </div>
    </div>
  </section>
  
<!-- классы -->
  
  <section class="site-section classes">
    <div class="container">
      <h3 class="classes__title title-third h-color">Music Classes</h3>
      <div class="classes-icons">
        <div class="classes-item">
          <div class="classes-icons__ico"><i class="fas fa-music"></i></div>
          <a href="#/" class="classes-icons__title main-link">Piano</a>
          <p class="classes-icons__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus incidunt accusantium ullam.</p>
        </div>
        <div class="classes-item">
          <div class="classes-icons__ico"><i class="fas fa-volume-down"></i></div>
          <a href="#/" class="classes-icons__title main-link">Volume</a>
          <p class="classes-icons__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint molestiae hic repellendus.</p>
        </div>
        <div class="classes-item">
          <div class="classes-icons__ico"><i class="fas fa-microphone-alt"></i></div>
          <a href="#/" class="classes-icons__title main-link">Vocal</a>
          <p class="classes-icons__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere corporis repudiandae aut?</p>
        </div>
        <div class="classes-item">
          <div class="classes-icons__ico"><i class="fas fa-drum"></i></div>
          <a href="#/" class="classes-icons__title main-link">Drums</a>
          <p class="classes-icons__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium labore facilis laudantium.</p>
        </div>
      </div>
    </div>
  </section>
  
<!-- учебные группы -->
  
  <section class="site-section groups">
    <div class="container">
      <div class="groups-heading">
        <h3 class="groups-heading title-second">Music Groups</h3>
        <p class="groups-heading__text p-normal">Our music school offers a variety of groups to learn music and sharpen your skills. If you prefer private lessons, we have what to offer you and your children.</p>
      </div>
      <div class="groups-box">
        <a href="#/" class="groups-box-item">
          <div class="groups-box-item__pic-bg">
            <img src="https://livedemo00.template-help.com/wt_prod-19523/images/service-thumbnail-1-270x300.jpg" alt="" class="groups-box-item__pic">
          </div>
          <p class="groups-box-item__text p-normal main-link">Kids</p>
        </a>
        <a href="#/" class="groups-box-item">
          <img src="https://livedemo00.template-help.com/wt_prod-19523/images/service-thumbnail-2-270x300.jpg" alt="" class="groups-box-item__pic">
          <p class="groups-box-item__text p-normal main-link">Teens</p>
        </a>
        <a href="#/" class="groups-box-item">
          <img src="https://livedemo00.template-help.com/wt_prod-19523/images/service-thumbnail-3-270x300.jpg" alt="" class="groups-box-item__pic">
          <p class="groups-box-item__text p-normal main-link">Adults</p>
        </a>
        <a href="#/" class="groups-box-item">
          <img src="https://livedemo00.template-help.com/wt_prod-19523/images/service-thumbnail-4-270x300.jpg" alt="" class="groups-box-item__pic">
          <p class="groups-box-item__text p-normal main-link">Private lessons</p>
        </a>   
      </div>
    </div>
  </section>
  
<!-- график занятий -->
  
  <section class="site-section graph">
    <div class="container">
      <div class="graph-heading">
        <h3 class="graph-heading__title title-second">Choose <span class="p-italic">the Best</span><br> 
Time for Lessons</h3>
        <p class="graph-heading__text p-normal">Our students can select any time for their music lessons that fits their timetable, whether it’s a weekday evening or weekend morning.</p>
        <a href="#/" class="main-btn">Learn more</a>
      </div>
    </div>
  </section>
  
<!-- Отзывы -->
  
  <section class="site-section testimonials">
    <div class="container">
      <div class="testimonials-carousel">
        
        <div class="testimonials-item">
          <div class="testimonials-item-heading">
            <img src="https://livedemo00.template-help.com/wt_prod-19523/images/testimonials-person-3-96x96.jpg" alt="" class="testimonials-item-heading__pic">
            <p class="testimonials-item-heading__name title-four">Albert Webb</p>
            <p class="testimonials-item-heading__prof">Student, Piano Class</p>
          </div>
          <p class="testimonials-item__text p-normal">I began as adult student that never had any musical training. Your teachers spent time to understand my objectives and even gave me one trial lesson. It became a great beginning of my piano class.</p>
        </div>
        
        <div class="testimonials-item">
          <div class="testimonials-item-heading">
            <img src="https://livedemo00.template-help.com/wt_prod-19523/images/testimonials-person-1-96x96.jpg" alt="" class="testimonials-item-heading__pic">
            <p class="testimonials-item-heading__name title-four">Kelly McMillan</p>
            <p class="testimonials-item-heading__prof">Student, Vocal Class</p>
          </div>
          <p class="testimonials-item__text p-normal">I began as adult student that never had any musical training. Your teachers spent time to understand my objectives and even gave me one trial lesson. It became a great beginning of my piano class.</p>
        </div>
        
        <div class="testimonials-item">
          <div class="testimonials-item-heading">
            <img src="https://livedemo00.template-help.com/wt_prod-19523/images/testimonials-person-2-96x96.jpg" alt="" class="testimonials-item-heading__pic">
            <p class="testimonials-item-heading__name title-four">Harold Barnett</p>
            <p class="testimonials-item-heading__prof">Student, Hearing Class</p>
          </div>
          <p class="testimonials-item__text p-normal">I began as adult student that never had any musical training. Your teachers spent time to understand my objectives and even gave me one trial lesson. It became a great beginning of my piano class.</p>
        </div>
        
      </div>
    </div>
  </section>
  
<!-- Отзывы -->
  
  <section class="site-section facts">
    <div class="container">
      <div class="facts-heading">
        <h3 class="h3 facts-heading__title title-second">Some Facts About Our School</h3>
        <p class="facts-heading__txt">We have been helping people sharpen their music skills since our foundation. Below are just some facts and numbers from our history that will tell you more about us.</p>
      </div>
      <div class="facts-heading-itembox">
        
        <div class="facts-heading-item">
          <i class="fas fa-trophy"></i>
          <p class="facts-heading-item__number">12</p>
          <p class="facts-heading-item__txt">International Awards</p>
        </div>
        
        <div class="facts-heading-item">
          <i class="fas fa-music"></i>
          <p class="facts-heading-item__number">238</p>
          <p class="facts-heading-item__txt">Satisfied Students</p>
        </div>
        
        <div class="facts-heading-item">
          <i class="fas fa-star"></i>
          <p class="facts-heading-item__number">19</p>
          <p class="facts-heading-item__txt">Years of Experience</p>
        </div>
        
        <div class="facts-heading-item">
          <i class="fas fa-users"></i>
          <p class="facts-heading-item__number">54</p>
          <p class="facts-heading-item__txt">Qualified Teachers</p>
        </div>
        
      </div>
    </div>
  </section>
  
<!-- Учителя -->
  
  <section class="site-section teachers">
    <div class="teachers__title title-second h-color">Our Teachers</div>
    <div class="teachers-carousel owl-carousel owl-theme">
      
      <div class="teachers-item">
        <div class="teachers-item-image">
          <img src="https://livedemo00.template-help.com/wt_prod-19523/images/team-1-270x273.jpg" alt="" class="teachers-item-image__pic">
          <div class="teachers-item-image-bg">
            <div class="teachers-item-image-soc">
              <a href="#/"><i class="fab fa-facebook-f"></i></a>
              <a href="#/"><i class="fab fa-twitter"></i></a>
              <a href="#/"><i class="fab fa-google-plus-g"></i></a>
            </div>
          </div>
        </div>
        <div class="teachers-item-heading">
          <p class="teachers-item-heading__name title-four">Nathalie Porter</p>
          <p class="teachers-item-heading__prof p-small">Founder, Vocal Teacher</p>
        </div>
      </div>
      
      <div class="teachers-item">
        <div class="teachers-item-image">
          <img src="https://livedemo00.template-help.com/wt_prod-19523/images/team-2-270x273.jpg" alt="" class="teachers-item-image__pic">
          <div class="teachers-item-image-bg">
            <div class="teachers-item-image-soc">
              <a href="#/"><i class="fab fa-facebook-f"></i></a>
              <a href="#/"><i class="fab fa-twitter"></i></a>
              <a href="#/"><i class="fab fa-google-plus-g"></i></a>
            </div>
          </div>
        </div>
        <div class="teachers-item-heading">
          <p class="teachers-item-heading__name title-four">John Thompson</p>
          <p class="teachers-item-heading__prof p-small">DJ Classes Teacher</p>
        </div>
      </div>
      
      <div class="teachers-item">
        <div class="teachers-item-image">
          <img src="https://livedemo00.template-help.com/wt_prod-19523/images/team-3-270x273.jpg" alt="" class="teachers-item-image__pic">
          <div class="teachers-item-image-bg">
            <div class="teachers-item-image-soc">
              <a href="#/"><i class="fab fa-facebook-f"></i></a>
              <a href="#/"><i class="fab fa-twitter"></i></a>
              <a href="#/"><i class="fab fa-google-plus-g"></i></a>
            </div>
          </div>
        </div>
        <div class="teachers-item-heading">
          <p class="teachers-item-heading__name title-four">Mary Williams</p>
          <p class="teachers-item-heading__prof p-small">Trumpet Teacher</p>
        </div>
      </div>
      
    </div>
  </section>
  
<!-- Триггер -->
  
  <section class="site-section trigger">
    <div class="container trigger-wrap">
      <h2 class="trigger__title title-four">Start Learning <span class="p-italic">Your Favorite Instrument</span> Right Now!</h2>
      <a href="#/" class="main-btn">Get started</a>
    </div>
  </section>
  
<!-- Новости -->
  
  <section class="site-section events">
    <h2 class="events__title title-second">Upcoming Events</h2>
    <div class="container events-wrap">
      <div class="events-item">
        <a href="#/" class="events-item-imglink">
          <img src="https://livedemo00.template-help.com/wt_prod-19523/images/grid-blog-1-571x353.jpg" alt="" class="events-item-imglink__pic">
        </a>
        <a href="#/" class="events-item__titlelink title-third">String Instruments Masterclass</a>
        <div class="events-item-box">
          <p class="events-item-box__name">by Theresa Barnes</p>
          <p class="events-item-box__date">Apr 21, 2018 at 12:05 pm</p>
          <a href="#/" class="events-item-box__tag">Events</a>
        </div>
        <p class="events-item__txt">This Friday, our teachers and students will organize a special masterclass open to everyone who is interested in string instruments. You can learn more about this event by contacting...</p>
      </div>
    </div>
    <div class="events__btn">
      <a href="#/" class="main-btn main-btn--reverse">View all events</a>
    </div>
  </section>
  
<!-- Контакты -->
  
  <section class="site-section contacts">
    <h3 class="contacts__title title-second">Our Contacts</h3>
    <div class="container contacts-wrap">
      
      <div class="contacts-item contacts-phone">
        <i class="fas fa-phone"></i>
        <a href="tel:#/" class="contacts__number contacts__link">1-800-1234-678</a>
        <a href="tel:#/" class="contacts__number contacts__link">1-999-1234-678</a>
      </div>
      
      <div class="contacts-item contacts-email">
        <i class="fas fa-envelope"></i>
        <a href="mailto:#/" class="contacts__email contacts__link">info@demolink.org</a>
      </div>
      
      <div class="contacts-item contacts-adress">
        <i class="fas fa-map-marker-alt"></i>
        <a href="tel:#/" class="contacts__adress contacts__link">2130 Fulton Street San Diego, CA 94117-1080 USA</a>
      </div>
      
    </div>
  </section>